@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Nunito+Sans:opsz@6..12&family=Open+Sans:wght@300&family=Poppins:wght@400;700&display=swap');

:root {
    --body-bg-color: rgb(255, 255, 255);
    --body-color: rgb(0, 0, 0);

    --container-bg-color: rgb(75, 88, 116);
    --container-color: black;
    --container-shadow-border-color: gray;

    --nav-bg-color: rgb(75, 88, 116);
    --nav-color: rgb(255, 255, 255);

    --main-bg-color: rgb(0, 0, 0);

    --button-bg-color: rgb(0, 0, 0);
    --button-color: rgb(255, 255, 255);
    --button-box-shadow-border-color: rgb(246, 177, 255);
    --button-hover-color: rgb(246, 177, 255);
    --button-hover-box-shadow-border-color: rgb(246, 177, 255);


    --operators-color: black;
    --operators-button-bg-color: rgb(0, 21, 90);

    --equal-button-bg-color: rgb(0, 21, 90);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: var(--body-bg-color);
    height: 100vh;
    width: 100vw;
}

.container {
    background: var(--container-bg-color);
    width: 100%;
    height: 100%;
}

/* ==Header style */
header {
    height: 40%;
}
header>nav {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background: var(--nav-bg-color);
    font-size: 1.5rem;
    color: var(--nav-color);
}

header>nav>h1 {
    font-size: 1.8rem;
    font-weight: lighter;
}

header>nav>a {
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: none;
    color: var(--nav-color);
}

/* ==Header in out put screen style== */
header>.out-put-container {
    height: 70%;
    width: 100%;
    font-size: 2rem;
    padding: 10px 20px;
    padding: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--nav-color);
    background: var(--nav-bg-color);
}


/* ==Main part style== */
main {
    height: 60%;
    width: 100%;
    background: var(--main-bg-color);
}

main>.button-container {
    height: 100%;
    width: 100%;
    background: var(--main-bg-color);
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    padding: 15px 20px;
}

main>.button-container>.button-rows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background: none;
}

main>.button-container>.button-rows>button {
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: var(--button-bg-color);
    box-shadow: -.1px 1px 1px 1px var(--button-box-shadow-border-color);
    color: var(--button-color);
}

main>.button-container>.button-rows>button:hover {
    box-shadow: -.1px -2px 1px 1px var(--button-hover-box-shadow-border-color);
    color: var(--button-hover-color);
    cursor: pointer;
}

main>.button-container>.button-rows>.operator {
    background: var(--operators-button-bg-color);
    color: var(--button-color);
}

main>.button-container>.button-rows>.equals {
    background: var(--equal-button-bg-color);
    color: var(--button-color);
}


